<header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!--   
     <ul class="list-group"> 
        <li class="list-group-item active"><a href="">Sign in</a></li>
        <li class="list-group-item"><a href="/signout">Sign out</a></li>
        <li class="list-group-item"><a href="/signup">Sign up</a></li>
        -->

      <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="">Sign in</a></li>
          <li routerLinkActive="active"><a routerLink="logins">Sign out</a></li>
          <li routerLinkActive="active"><a routerLink="">Sign up</a></li>

      </ul>
    </div>

  </nav>
</header>