.content {
display: inline-block;
justify-content: space-between;
margin: 10px;
padding: 10px;

}

.form-group {
    width: 250px;
    margin:auto;
    background-color: #d1d1d1;
}

button {
    margin: 10px 0;
    padding: 10px;
}

#red {
    width: 200px;
    height: 200px;
    margin: 0 0 0 5px;
    color: red;
}
#green {
    width: 200px;
    height: 200px;
    margin: 0 0 0 5px;
    color: green;
}