.content {
display: inline-block;
justify-content: space-between;
margin: 10px;
padding: 10px;


}
form div {
    width: 250px;
    margin:auto;
    background-color: #d1d1d1;
}
button {
    margin: 10px 0;
    padding: 10px;
}

#red {
    width: 100px;
    height: 100px;
    margin: 0 0 0 5px;
    color: red;
}
#green {
    width: 100px;
    height: 100px;
    margin: 0 0 0 5px;
    color: green;
}